{% extends "base.html" %} {% block content %}
<h2>Listing all Users</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email ID</th>
            </tr>
        </thead>
        <tbody>

            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}